@using CodeLase.web.Models.DTOs
@model CreateBlogDTO

@{
    ViewData["Title"] = "Edit Blog";
}


<a asp-controller="Blog" asp-action="Index">Back</a>

<form asp-asp-controller="Home" asp-action="Edit" class="form-group" method="POST">
    <label asp-for="Title"></label>
    <input type="text" asp-for="Title" class="form-control">

    <label asp-for="Category"></label>
    <input type="text" asp-for="Category" class="form-control">

    <label asp-for="Title"></label>
    <textarea asp-for="Body" class="form-control" cols="30" rows="10"></textarea>
    <br>
    <button type="submit" class="btn btn-success">Send</button>
</form>